<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navlinks">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#">Guitar Care Center</a>
	</div>

	<div class="collapse navbar-collapse" id="navlinks">
	    <ul class="nav navbar-nav">
		<li><a href="/#/">Home</a></li>
		<li><a href="/#/guitar">List</a></li>
		<li><a href="/#/guitarCreator">Create Guitar</a></li> 
	    </ul>
	</div>
    </div>
</nav>
